<div class="video-background">
  <div id="video-box">
    <video autoplay poster="../media/ComingAttractions.jpg" id="campy_vid">
      <source src="../media/ComingAttractions.mp4" type="video/mp4">
    </video>
    <div class="row">
      <div class="col-xs-offset-5 col-xs-1 ">
  <form role="form" class="enter-button">
     <button type="button" class="btn btn-primary" onclick="window.location.href='/movies'">Enter the site</button>

  </form>
    </div>
  </div>
</div> 
